<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://lorempixel.com/1080/1080');">
  <div class="banner-content">
    <h1>WELCOME HOME</h1>
    <p>See all restaurants</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="checkin">
      <input type="text" class="form-control input-lg" placeholder="checkout">
      <select name="" id="" class="form-control input-lg">
        <option value="1">1 person</option>
        <option value="2">2 persons</option>
        <option value="3">3 persons</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </form>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container text-center padded features">
    <div class="row">
      <% @restaurants.each do |restaurant|%>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/400');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.category %></p>
          </div>
          <%= link_to '', restaurant, class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div
